<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceStylistSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceStylistSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44372/WebServiceStylist.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceStylistSoap"
                contract="ServiceReferenceStylist.WebServiceStylistSoap" name="WebServiceStylistSoap" />
        </client>
    </system.serviceModel>
</configuration>